!!! 5
%html
  %head
    %title Dear My Space Debris
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head)
  %body
    = yield
